* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit; }

.BL {
  color: #6C77C1; }

.BV {
  color: #2F7FCC; }

.CE {
  color: #E88F4F; }

.CEP {
  color: #F0A78E; }

.CH {
  color: #98E2EB; }

.CS {
  color: #EFCE8F; }

.G {
  color: #60608F; }

.J {
  color: #BABD2F; }

.N {
  color: #C2C2DA; }

.N2 {
  color: #9292AA; }

.PT {
  color: #2EBA7E; }

.PS {
  color: #F1C4F6; }

.R {
  color: #CB546B; }

.ROSE {
  color: #ED67EA; }

.S {
  color: #CAA4CF; }

.T {
  color: #A4CF9E; }

.V {
  color: #009D9D; }

.VP {
  color: #2ECF73; }

.VI {
  color: #C53DFF; }

code {
  font-family: monospace; }

body {
  font-size: 12pt; }

#root {
  background-color: #6a7495;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.App {
  width: 75%;
  height: 75%;
  background-color: #122529;
  border-radius: 0.4rem;
  overflow: hidden;
  display: grid;
  padding: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
  color: #c2c2da; }
  .App .Input {
    display: block;
    width: 100%;
    padding: 0.25em;
    border-radius: 0.25em;
    border-width: 1px;
    border-style: solid;
    outline: none; }
    .App .Input.Text {
      background-color: #121212;
      border-color: #040404 #616161 #616161 #040404;
      color: #6c77c1; }
    .App .Input.Button {
      background-color: #2e4a52;
      border-color: #73858b #0d1417 #0d1417 #73858b;
      cursor: pointer; }
      .App .Input.Button:active {
        background-color: #1b373d;
        border-color: #0d1417 #73858b #73858b #0d1417; }
  .App .LeftContainer {
    grid-column: 1;
    overflow-y: auto;
    overflow-x: hidden; }
    .App .LeftContainer .Thumb {
      display: flex;
      background-color: #22464d;
      margin-bottom: 0.25em;
      cursor: pointer;
      box-shadow: 0 1px 0 0 #2f5259 inset; }
      .App .LeftContainer .Thumb .Thumb-content {
        overflow: hidden; }
      .App .LeftContainer .Thumb.Selected {
        background-color: #1b373d;
        box-shadow: 0 1px 0 0 #254146 inset; }
      .App .LeftContainer .Thumb img {
        display: block; }
      .App .LeftContainer .Thumb .Thumb-content {
        flex-grow: 1;
        padding: 0.25rem; }
  .App .RightContainer {
    grid-column: 2/5;
    overflow-y: auto; }
    .App .RightContainer .Message {
      display: flex;
      background-color: #22464d;
      margin-bottom: 0.25em; }
      .App .RightContainer .Message img {
        display: block; }
      .App .RightContainer .Message .Message-content {
        flex-grow: 1;
        padding: 0.25rem;
        overflow: hidden; }
        .App .RightContainer .Message .Message-content .Message-body {
          white-space: pre-line;
          overflow-wrap: break-word; }
    .App .RightContainer.Login {
      grid-column: 3;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      align-items: center; }
  .App .Avatar {
    display: block;
    width: 64px;
    height: 64px;
    outline: solid 2px black;
    outline-offset: -2px; }
  .App .MarginBottom {
    margin-bottom: 0.25em; }
  .App textarea {
    resize: none; }
  .App .MenuButton {
    position: sticky;
    bottom: 0; }

.scrollbar-container {
  padding-right: 0.5em; }

.ps *, .ps *:hover, .ps *:active {
  opacity: 1 !important; }
.ps .ps__rail-y, .ps .ps__rail-y:hover, .ps .ps__rail-y:active {
  width: 0.15em !important;
  background-color: #002222 !important; }
.ps .ps__thumb-y, .ps .ps__thumb-y:hover, .ps .ps__thumb-y:active {
  width: 0.15em !important;
  background-color: #008888 !important;
  cursor: pointer;
  right: 0; }

/*# sourceMappingURL=main.css.map */
